@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    background: #121524;
}
.navbar{
    color: aqua;
    height: 60px;
    background-color: rgba(9, 23, 23, 0.893);
    justify-content: space-between;
    padding: 0 53px;
    font-family: 'Ubuntu', sans-serif;
}

header{
    position: fixed;
    width: 100%;
    z-index: 100;
}


nav a{
    text-decoration: none;
    color: rgb(0, 255, 255);
}

nav ul li a:hover {   
    text-transform: uppercase;
}

ul{
    list-style: none;
}

ul li{
    color: aqua;
    padding: 0 12px;
    animation: slideTop .7s ease forwards;
}

ul{
    flex-direction: row;
}   

ul li a{
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    animation: slideTop .7s ease forwards;
    animation-delay: calc(.1s * var(--i));
     opacity: 0;
    
}

.container1{
    justify-content: space-between;
}

.logo{
    letter-spacing: .1rem;   
    font-size: 1.5rem;
    animation: slideRight 1s ease forwards;
    cursor: default;
}

.logo:hover{
    text-shadow: 0 0 1px rgb(78, 254, 254), 0 0 2px rgb(78, 254, 254), 0 0 4px rgb(78, 254, 254);
    text-transform: uppercase;
}

@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

.dropbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #0b1719;
    color: aqua;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 2px 23px 0px;
    animation: slideTop .7s ease forwards;
    animation-delay: calc(.1s * var(--i));
    opacity: 0;
}
.dropdown {
    position: relative;
    display: inline-block;
  }

  .Dropdown-content{
    display: none;
    margin: 15px 0 0 20px;
    position: absolute;
    min-width: 138px;
    box-shadow: 0px 6px 16px 0px rgb(0, 255, 255);
    z-index: 1;
  }

  .Dropdown-content a {
    font-size: 1.2rem;  
    font-weight: bold;
    color: black;
    background-color: white;
    padding: 12px 40px;
    text-decoration: none;
    display: block;
  }

  .Dropdown-content a:hover {
    background-color: #f1f1f1ec;

}

.dropdown:hover .Dropdown-content {
    display: block;
  }
 
.home{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 100vh;
    padding: 2% 15% 0;
    color: whitesmoke;
    padding-bottom: 5rem;
}

img{
    margin-left: 2%;
    border: 2px solid #00eeff;
    border-radius: 160px;
    box-shadow: 0 0 10px cyan, 0 0 25px cyan, 0 0 35px cyan;
}

.home-content{
    max-width: 600px;
}


.home-content h3{
    font-size: 30px;
    font-weight: 700;
    animation: slideTop .7s ease forwards;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -5px 0;
    animation:  slideRight 1s ease forwards;
}

.home-content p{
    font-size: 20px;
    animation: slideTop .7s ease forwards;
}

.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    color: #0ef;
    margin: 30px 15px 30px 0px;
    animation: slideleft .7s ease forwards;
    animation-delay: calc(.1s * var(--i));
    opacity: 0;
}


.home-sci a:hover{
    background-color: #0ef;
    color: #0b1719;
    box-shadow: 0 0 20px #0ef;
}

.btn-box{
    display: inline-block;
    padding: 12px 25px;
    border-radius: 40px;
    font-size: 18px;
    background-color: #0ef;
    color: #0b1719;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 600;
    animation: slideTop 1s ease forwards;
}

.btn-box:hover{
    background-color: #0b1719;
    color: #00eeff;
    box-shadow: 0 0 10px cyan,
    0 0 25px cyan, 0 0 50px cyan;
}

.text{
    letter-spacing: 1px;
    color: #0ef;
    font-size: 32px;
    font-weight: 600;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 20px;
}

@keyframes slideleft {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

.about{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 0 4rem 4rem;
    color: whitesmoke;
    gap: 1.2rem;
}

.about-text h2{
    font-size: 50px;
    animation:  slideRight 1s ease forwards;
    opacity: 0;
}

.about-text h4{
    font-size: 30px;
    font-weight: 600;
    line-height: 1.7;
    margin: 12px 0 25px 0;
    animation: slideleft .7s ease forwards;
    animation-delay: calc(.05s * var(--i));
    opacity: 0;

}

.about-text p{
    line-height: 1.3;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    animation:  slideRight 1s ease forwards;
    animation-delay: calc(.05s * var(--i));
    opacity: 0;
}

.about-text h2 span{
    color: #0ef;
}

.container2{
    padding: 60px;
    color: whitesmoke;
}

.sub-title{
    margin-top: 80px;
    text-align: center;
    color: whitesmoke;
    font-size: 60px;
    padding-bottom: 4rem;
}

.sub-title span{
    color: #00eeff;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(257px,1fr));
    font-size: 20px;
    line-height: 1.4;
    grid-gap: 40px;
    background: transparent;
}

.services-list i{
    font-size: 25px;
}

.services-list div{
    background: transparent;
    font-size: 16px;
    font-weight: 13px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 1px 1px 20px rgb(1, 1, 134), 1px 1px 45px rgba(57, 57, 218, 0.737);
}

.services-list div h2{
    font-size: 30px;
    margin: 20px 0;
}

.services-list div a{
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-top: 20px;
    color: #121524;
}

.read{
    background: #00eeff;
    border-radius: 40px;
    padding: 12px 28px;
    color: #121524;
    font-weight: 600;
    letter-spacing: 1px;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;

}

.read:hover{
    background-color: #0b1719;
    color: #00eeff;
    box-shadow: 0 0 10px cyan,
    0 0 25px cyan, 0 0 50px cyan;
}

.services-list div:hover{
    transform: translateY(-20px);
}

/* section{
    display: flex;
    flex-wrap: wrap;
} */

.container3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: whitesmoke;
    width: 600px;
    height: 450px;
    padding: 70px 90px;
    margin-left: 120px;
}

.heading1{
    font-size: 34px;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}

.bar{
    font-size: 23px;
}

.technical-bars .bar{
    margin-top: 40px;
}

.technical-bars .bar:first-child{
    margin-top: 0;
}

.technical-bars .bar:last-child{
    margin-bottom: 0;
}

.technical-bars .bar .info{
    margin-bottom: 5px;
}

.technical-bars .bar .info span{
    font-size: 27px;
    font-weight: 500;
    animation: showtext .5s 1s linear forwards;
    opacity: 0;
}

.technical-bars .bar .progress-line{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: black;animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

@keyframes showtext{
    100%{
        opacity: 1;
    }
}

@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}

.technical-bars .bar .progress-line span{
    height: 100%;
    position: absolute;
    background-color: #00eeff;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.progress-line.html span{
    width: 90%;
}

.progress-line.css span{
    width: 70%;
}

.progress-line.javascript span{
    width: 65%;
}
.progress-line.React span{
    width: 60%;
}

.progress-line span::before{
    content: "";
    position: absolute;
    top: -10px;
    right: 0;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    animation: showtext .5s 1.5s linear forwards;       
    opacity: 0;
}
.progress-line span::after{
    position: absolute;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -20px;
    right: -10px;
    animation: showtext .5s 1.5s linear forwards;
    opacity: 0;
}

.progress-line.html span::after{
    content: "90%";
}

.progress-line.css span::after{
    content: "70%";
}

.progress-line.javascript span::after{
    content: "65%";
}
.progress-line.React span::after{
    content: "60%";
}

.container4{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: whitesmoke;
    width: 600px;
    height: 450px;
    padding: 20px 90px;
    margin-left: 120px;
}

.progress-line.creativity span{
    width: 80%;
}

.progress-line.communication span{
    width: 75%;
}

.progress-line.Problem-Solving span{
    width: 70%;
}

.progress-line.Teamwork span{
    width: 90%;
}

.progress-line.creativity span::after{
    content: "80%";
}

.progress-line.communication span::after{
    content: "75%";
}

.progress-line.Problem-Solving span::after{
    content: "70%";
}

.progress-line.Teamwork span::after{
    content: "90%";
}

.contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px;
    color: whitesmoke;
}

h2{
    color: whitesmoke;
    font-size: 70px;
    text-align: center;
    line-height: 1;
    /* margin-bottom: 30px; */
}

 h2 span{
    color: #00eeff;
}

.contact-text h4{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 23px;
    letter-spacing: 1.2px;
}

.contact-text p{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1.1px;
    margin-bottom: 16px;
}

.contact-list{
    list-style: none;
    font-size: 20px;
    line-height: 1.7;
    letter-spacing: 1.1px;
    margin-bottom: 12px;
}

.contact-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    color: #0ef;
    margin: 30px 15px 30px 0px;
    animation: slideleft .7s ease forwards;
    animation-delay: calc(.1s * var(--i));
    opacity: 0;
}

.contact-icons a:hover{
    background-color: #0ef;
    color: #0b1719;
    box-shadow: 0 0 20px #0ef;
}

.contact-list i{
    padding-right: 12px;
}

.contact-form form{
    position: relative;
}

.contact-form input, form textarea{
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    background: #555557;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
}

.contact-form textarea{
    resize: none;
    height: 180px;
}

.contact-form input.send{
    background: #00eeff;
    width: 97%;
    border-radius: 40px;
    padding: 12px 28px;
    color: #121524;
    font-weight: 600;
    letter-spacing: 1px;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.5s;
}

.contact-form input.send:hover{
    background-color: #0b1719;
    color: #00eeff;
    box-shadow: 0 0 10px cyan,
    0 0 25px cyan, 0 0 40px cyan;
}

.footer{
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 60px;
    background: #141a3b;
    padding: 18px 0;
    color: #00eeff;
    letter-spacing: 1.1px;
}